img .image{
    position: absolute;
    clip: rect(10px,10px,10px,10px);

}
.image {
  margin-bottom : 0px;
  border-top: #ccc 2px solid;
  border-right: #ccc 2px solid;
  border-bottom: #777 2px solid;
  border-left: #777 2px solid;
  border-radius: 100px;
  width:200px;
  height:200px;
}